@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --primary_color: #3bb77e;
  --seccond_color: #def9ec;
  --grey_color: #adadad;
  --black_color: #253d4e;
  --white_color: #fefefe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Quicksand", sans-serif;
  color: var(--black_color);
}
::selection {
  background: var(--primary_color);
  color: var(--white_color);
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary_color);
}
button,
h1,
h2,
h3,
h4,
h5,
h6,
span,
i,
img,
select,
option {
  cursor: pointer;
}
button,
select,
input {
  border: none;
  outline: none;
}

.fp-arrow {
  border: none;
  width: 46px;
  height: 46px;
  padding: 11px;
  border-radius: 50%;
  &.fp-prev {
    background: url(../../Assets/SVG/slide_arrow-left.svg) no-repeat center
      center;
  }
  &.fp-next {
    background: url(../../Assets/SVG/slide_arrow-right.svg) no-repeat center
      center;
  }
  &:hover {
    &.fp-prev {
      background-color: var(--seccond_color);
    }
    &.fp-next {
      background-color: var(--seccond_color);
    }
  }
}
body {
  background-color: var(--white_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto !important;
  margin-right: auto !important;
  min-height: 100vh;
  width: 100%;
}
header {
  background-color: var(--white_color);
  overflow: hidden;
  position: fixed;
  height: 150px;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .header_top {
    max-width: 1440px;
    width: 100%;
    height: 78px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(173, 173, 173, 0.27);
    .header_top-logo {
      width: 147px;
      height: 44px;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        gap: 8px;
        img {
          width: 40px;
          height: 40px;
        }
        .header_logo-title {
          display: flex;
          flex-direction: column;
          h1.header_title-title {
            font-weight: bold;
            font-size: 21px;
            color: var(--primary_color);
          }
          h2.header_title-subtitle {
            font-weight: 500;
            font-size: 14px;
            color: var(--grey_color);
          }
        }
      }
    }
    .header_top-search {
      position: relative;
      width: 497px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      overflow: hidden;
      gap: 4px;
      background-color: var(--seccond_color);
      .header_search-select {
        margin-left: 12px;
        width: 116px;
        height: 18px;
        font-size: 14px;
        font-weight: 600;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url(../SVG/dropdown.svg);
        background-position: right center;
        background-repeat: no-repeat;
        background-color: inherit;
        option {
          background-color: var(--white_color);
          color: var(--primary_color);
          font-size: 14px;
          font-weight: 600;
        }
      }
      label {
        font-size: 18px;
        color: var(--grey_color);
      }
      input.header_search-input {
        width: 302px;
        font-size: 14px;
        font-weight: 550;
        padding-left: 4px;
        margin-top: 2px;
        caret-color: var(--primary_color);
        background-color: inherit;
        &::placeholder {
          color: var(--grey_color);
          font-weight: 500;
        }
        &::first-letter {
          text-transform: uppercase;
        }
      }
      button.header_searchBar-btn {
        width: 55px;
        height: 42px;
        background: var(--primary_color);
        border-radius: 0 2px 2px 0;
        overflow: hidden;
        i {
          font-size: 18px;
          color: var(--white_color);
        }
      }
    }
    .header_top-cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 53px;
      width: 231px;
      height: 33px;
      .header_cart-wishlist {
        width: 78px;
        height: 30px;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 8px;
          &:hover .header_cart-info p {
            color: var(--primary_color);
          }
          .header_cart-logo {
            position: relative;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            .quantity {
              position: absolute;
              bottom: 12px;
              left: 10px;
              width: 20px;
              height: 20px;
              background-color: var(--primary_color);
              border-radius: 50%;
              overflow: hidden;
              border: 2px solid var(--white_color);
              text-align: center;
              color: var(--white_color);
              font-size: 11px;
              font-weight: 500;
            }
            i {
              font-size: 24px;
            }
          }
          .header_cart-info {
            width: 50px;
            height: 16px;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      .header_cart-cart {
        width: 102px;
        height: 33px;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 8px;
          &:hover .header_cart-info p {
            color: var(--primary_color);
          }
          .header_cart-logo {
            position: relative;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            .quantity {
              position: absolute;
              bottom: 12px;
              left: 8px;
              width: 20px;
              height: 20px;
              background-color: var(--primary_color);
              border-radius: 50%;
              overflow: hidden;
              border: 2px solid var(--white_color);
              text-align: center;
              color: var(--white_color);
              font-size: 11px;
              font-weight: 500;
            }
            i {
              font-size: 24px;
            }
          }
          .header_cart-info {
            width: 44px;
            height: 33px;
            p {
              width: 52px;
              font-size: 14px;
              font-weight: 500;
            }
            span.price {
              font-weight: 500;
              font-size: 14px;
              line-height: 15px;
              color: var(--primary_color);
            }
          }
          i {
            font-size: 18px;
          }
        }
      }
    }
    .header_top-profile {
      width: 180px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
      img.header_profile-avatar {
        border-radius: 50%;
        overflow: hidden;
      }
      h1.header_profile-name {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .header_bottom {
    max-width: 1440px;
    width: 100%;
    height: 72px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(173, 173, 173, 0.27);
    button.all_categories {
      width: 218px;
      height: 52px;
      background: var(--primary_color);
      border-radius: 2px;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px;
        gap: 8px;
        color: var(--white_color);
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
    }
    nav.navigation {
      width: 716px;
      height: 40px;
      ul.navigation_list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li {
          width: auto;
          height: 40px;
          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            padding: 10px;
            gap: 5px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: var(--black_color);
          }
          &:hover {
            a {
              color: var(--primary_color);
            }
          }
          &.active {
            a {
              color: var(--primary_color);
              i {
                color: var(--primary_color);
              }
            }
          }
        }
      }
    }
    .support-center {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      width: 200px;
      height: 52px;
      a.support-phone {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        i {
          color: var(--primary_color);
          padding-right: 4px;
        }
      }
      p.support-desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
main {
  width: 100%;
  height: auto;
  section {
    display: flex !important;
    align-items: center;
    justify-content: center;
    .container {
      position: relative;
      width: 1440px;
      height: 100%;
    }
    &.home {
      .container {
        background: url(../../Assets/Images/home/background.png) no-repeat
          center center;
        background-size: cover;
        .slide {
          position: relative;
          justify-content: flex-start;
          .home_container-bg {
            height: 50%;
            position: absolute;
            right: 0;
          }
          h1.home_container-title {
            width: 532px;
            height: 138px;
            font-weight: 700;
            font-size: 55px;
            line-height: 69px;
            letter-spacing: -0.01em;
            position: absolute;
            top: 89px;
            left: 118px;
          }
          p.home_container-subtitle {
            width: 348px;
            height: 25px;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.01em;
            color: var(--grey_color);
            position: absolute;
            top: 256px;
            left: 118px;
          }
          form.home_container-form {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            width: 437px;
            height: 52px;
            left: 121px;
            top: 335px;
            padding: 0px;
            background: var(--white_color);
            border-radius: 2px;
            overflow: hidden;
            label {
              width: 34px;
              height: 100%;
              font-size: 16px;
              margin: 12px;
              color: var(--grey_color);
              display: flex;
              align-items: center;
              justify-content: space-between;
              i {
                font-size: 18px;
                color: var(--primary_color);
                margin-right: 8px;
              }
            }
            input.home_form-input {
              width: 287px;
              height: 100%;
              padding: 8px;
              padding-left: 0;
              font-size: 16px;
              font-weight: 550;
              caret-color: var(--primary_color);
              background-color: inherit;
              &::placeholder {
                color: var(--grey_color);
                font-weight: 500;
              }
              &::first-letter {
                text-transform: uppercase;
              }
            }
            button.home_form-btn {
              height: 100%;
              width: 93px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 14px;
              gap: 9px;
              background: var(--primary_color);
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              color: var(--white_color);
            }
          }
        }
      }
      .fp-arrow {
        &.fp-prev {
          background: none;
          border: solid;
          width: 0;
          height: 0;
          padding: 0;
          border-radius: 0%;
          border-width: 25px 25px 25px 0;
          border-color: transparent var(--seccond_color) transparent transparent;
        }
        &.fp-next {
          background: none;
          border: solid;
          width: 0;
          height: 0;
          padding: 0;
          border-radius: 0%;
          border-width: 25px 0 25px 25px;
          border-color: transparent transparent transparent var(--seccond_color);
        }
        &:hover {
          &.fp-prev {
            border-color: transparent var(--primary_color) transparent
              transparent;
          }
          &.fp-next {
            border-color: transparent transparent transparent
              var(--primary_color);
          }
        }
      }
    }
    &.categories {
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1.categories_title {
          padding-left: 74px;
          width: 100%;
          text-align: start;
          height: 40px;
          font-weight: 600;
          font-size: 32px;
          line-height: 40px;
          color: var(--black_color);
        }
        nav.categories_navigation {
          width: 100%;
          padding-right: 74px;
          ul.categories_navigation-list {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 5px;
            gap: 26px;
            height: 30px;
            li {
              a {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: var(--black_color);
              }
              &.active {
                a {
                  font-weight: 700;
                  color: var(--primary_color);
                }
              }
            }
          }
        }
        .slide {
          margin-top: 8px;
          .categories_slide-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 74px 0;
            margin-bottom: 8px;
            .categories_item {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 10px;
              width: 153px;
              height: 194px;
              border-radius: 3px;
              &:nth-child(1) {
                background: #feefea;
              }
              &:nth-child(2) {
                background: #fff3ff;
              }
              &:nth-child(3) {
                background: #f2fce4;
              }
              &:nth-child(4) {
                background: #feefea;
              }
              &:nth-child(5) {
                background: #ecffec;
              }
              &:nth-child(6) {
                background: #fffceb;
              }
              &:nth-child(7) {
                background: #def9ec;
              }
              h3.categories_title {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
              }
              p.categories_quantity {
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: var(--grey_color);
              }
            }
          }
        }
      }
    }
    &.products {
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1.products_title {
          width: 100%;
          padding-left: 74px;
          text-align: start;
          height: 40px;
          font-weight: 600;
          font-size: 32px;
          line-height: 40px;
          color: var(--black_color);
        }
        nav.products_navigation {
          width: 100%;
          padding-right: 74px;
          ul.products_navigation-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 5px;
            gap: 26px;
            width: auto;
            height: 30px;
            li {
              a {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: var(--black_color);
              }
              &.active {
                a {
                  font-weight: 700;
                  color: var(--primary_color);
                }
              }
            }
          }
        }
        .slide {
          margin-top: 8px;
          .products_slide-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 74px 0;
            margin-bottom: 16px;
            .products_item {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 228px;
              height: 302px;
              border-radius: 3px;
              border: 1px solid rgba(173, 173, 173, 0.27);
              span.products_item-type {
                text-align: start;
                width: 100%;
                padding-left: 12px;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: var(--grey_color);
                margin-top: 7.5px;
              }
              h3.products_item-title {
                text-align: start;
                width: 100%;
                padding-left: 12px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                margin-top: 7px;
              }
              .products_item-rate {
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 12px;
                gap: 4px;
                margin-top: 15px;
                .products_rate-star {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 2px;
                  img {
                    width: 16px;
                    height: 16px;
                  }
                }
                span.products_rate-quantity {
                  font-weight: 500;
                  font-size: 11px;
                  line-height: 14px;
                  color: var(--grey_color);
                }
              }
              p.products_item-seller {
                width: 100%;
                padding-left: 12px;
                text-align: start;
                color: var(--grey_color);
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                margin-top: 3px;
              }
              .products_item-price {
                position: relative;
                width: 100%;
                padding-left: 12px;
                display: flex;
                align-items: center;
                margin-top: 20px;
                h1.products_price-price {
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 22px;
                  color: var(--primary_color);
                }
                span.products_price-discount {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 18px;
                  text-decoration: line-through;
                  color: var(--grey_color);
                }
                button.products_pride-add {
                  position: absolute;
                  right: 12px;
                  background: #def9ec;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 2px;
                  gap: 5px;
                  width: 90px;
                  height: 34px;
                  border-radius: 2px;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 18px;
                  color: var(--primary_color);
                  i {
                    color: var(--primary_color);
                  }
                }
              }
            }
          }
        }
      }
      .fp-slidesNav.fp-bottom {
        bottom: 8px;
      }
    }
    &.promotions .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      .promotions_offer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        width: 590px;
        height: 300px;
        overflow: hidden;
        border-radius: 4px;
        padding: 34px 48px;
        &.offer_left {
          background: url(../../Assets/Images/promotions/offer_bg1.png);
        }
        &.offer_right {
          background: url(../../Assets/Images/promotions/offer_bg2.png);
        }
        p.promotions_offer-info {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 7px;
          width: 86px;
          height: 26px;
          font-weight: 500;
          border-radius: 3px;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.01em;
          color: var(--white_color);
          text-align: center;
          &.offer_left {
            background: #ffd480;
          }
          &.offer_right {
            background: var(--primary_color);
          }
        }
        h1.promotions_offer-title {
          font-weight: 600;
          font-size: 28px;
          line-height: 35px;
          color: var(--black_color);
        }
        p.promotions_offer-desc {
          width: 255px;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: -0.01em;
          color: #838383;
        }
        button.promotions_offer-btn {
          background-color: var(--primary_color);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 14px;
          gap: 9px;
          width: 143px;
          height: 52px;
          border-radius: 0px 2px 2px 0px;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: var(--white_color);
        }
        img.promotions_offer-img {
          position: absolute;
          bottom: 0;
          right: 0;
          &.offer_left {
            right: 6px;
          }
        }
      }
    }
  }
}
